{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src",
          "api": "./src/api",
          "assets": "./src/assets",
          "components": "./src/components",
          "navigators": "./src/navigators",
          "providers": "./src/providers",
          "screens": "./src/screens"
        }
      }
    ]
  ]
}
